version: "3.9"

services:
  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ./ollama:/root/.ollama
    restart: unless-stopped
    command: >
      sh -c "
      ollama serve & 
      sleep 4 &&
      ollama pull qwen2.5:14b &&
      tail -f /dev/null
      "

  streamlit:
    build: ./app
    container_name: streamlit_app
    ports:
      - "8501:8501"
    depends_on:
      - ollama
    volumes:
      - ./model_files:/app/model_files
      - ./app:/app
    environment:
      - OLLAMA_HOST=http://ollama:11434
    restart: unless-stopped
